<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="" rel="">
    <link href="public/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
</head>

<body ng-app="timeKeeper">
    <div>
        <h4>HEADER</h4>
    </div>
    <div ng-view>
    </div>
    <div>
        <h4>FOOTER</h4>
    </div>
</body>

</html>

<script src="public/js/jquery/jquery.js"></script>
<script src="public/js/angular/angular.js"></script>
<script src="public/js/angular/angular-route.js"></script>
<script src="public/js/angular/angular-messages.js"></script>
<script src="public/js/bootstrap/bootstrap.js"></script>
<script src="public/js/angular/ui-bootstrap-tpls.js"></script>
<script src="layout/layout.js"></script>
<script src="timeEntry/timeEntry.js"></script>
