<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="" rel="">
    <link href="public/css/style.css" rel="stylesheet">
    <script src="public/js/angular/angular.js"></script>
    <script src="public/js/angular/ui-bootstrap-tpls.js"></script>
    <script src="layout/layout.js"></script>

    
    </style>
</head>

<body ng-app="timeKeeper">
    <div>
        <h4>HEADER</h4>
    </div>
    <div ng-view>
    </div>
    <div>
        <h4>FOOTER</h4>
    </div>
</body>

</html>