<div>
    <pre>Selected date is: <em>{{startdate | date:'fullDate' }}</em></pre>
    <form novalidate name="timeEntryForm" ng-submit="submitForm()">

        <div class=form-group ng-class="{'has-error' : requiredValidation('startDate')}">
            <label for="StartTime">Start Time</label>
            <p class="input-group">
                <input name="startDate" type="text" show-button-bar="false" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startdate"
                    is-open="StartTime.opened" placeholder="mm/dd/yyyy" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                    alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStartTime()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
            <span class="help-block" ng-show="requiredValidation('startDate')">Start date is a required field</span>
            <div>
                <div style="margin-top: 10px;margin-bottom: 20px;">
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                    <input type="reset" class="btn btn-warning btn-sm" value="Reset" ng-click="resetForm()" />
                </div>
    </form>
    </div>
    <div>
        Form Submitted: {{timeEntryForm.$submitted}}<br /> Start Date Touched: {{timeEntryForm.startDate.$touched}}<br />        Start Date Invalid: {{timeEntryForm.startDate.$invalid}}<br />


    </div>
    <hr />
    <div>
        TODO
        <ul>
            <li>Add checkbox with validation that it is checked</li>
        </ul>
    </div>